.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 48px;
    height: 48px;
    position: relative;
  }
}

.black {
  background-color: $light-blue;
}

.white {
  background-color: $light-orange;
}

.selected {
  background-color: $brown;
}

.available {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $green;
}

.available-figure {
  background-color: $green;
}